ENV=local
SECRET_KEY=yoursecretkeyhereatleast32charslong
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
DATABASE_MODE=orm

LOG_FILE=logs/app.log
LOG_LEVEL=INFO

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=projects_dashboard
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AWS_ACCESS_KEY_ID=mock_key
AWS_SECRET_ACCESS_KEY=mock_secret
AWS_REGION=eu-central-1
AWS_SESSION_TOKEN=IQoJb3JpZ2luX2Vj...
S3_BUCKET_NAME=projects-dashboard-docs
S3_ENDPOINT_URL=http://localhost:5000

MAX_PROJECT_STORAGE_MB=500