ENV=
SECRET_KEY=
JWT_ALGORITHM=
JWT_EXPIRE_MINUTES=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=

MAX_PROJECT_STORAGE_MB=